<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
</head>
<body>
    <div class="form-row">
        <form action="/login" method="post">
            <label for="user-name">&nbsp;Name&nbsp;</label>
            <input type="text" id="user-name" name="username" placeholder="Enter your name here">
            <label for="user-password">&nbsp;Password&nbsp;</label>
            <input type="text" id="user-password" name="password" placeholder="Enter your password here">
            <button type="submit">OK</button>
        </form>
        <!--
        {% if username and password %}
            <p>Username: {{ username }}</p>
            <p>Password: {{ password }}</p>
        {% endif %}
        {% if error %}
            <p>{{ error }}</p>
        {% endif %}
        -->
    </div>
</body>
</html>